@{
    ViewData["Title"] = "Профиль";
}

<h1>Профиль</h1>

<!-- Кнопка для перехода к созданию задачи -->
<a asp-controller="Profile" asp-action="CreateTask" class="btn btn-primary">Создать задачу</a>

<!-- Кнопка для выхода из системы -->
<form asp-controller="Profile" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Выход</button>
</form>
