@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Home Page</h1>
<h1>Выберите свою роль и введите логин и пароль</h1>

<!-- Кнопка для входа -->
<a href="/Main/Login" class="btn btn-primary">Войти</a>

<!-- Кнопка для регистрации -->
<a href="/Main/Register" class="btn btn-secondary">Зарегистрироваться</a>