@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Home Page</h1>
<h2>Зарегайтесь с выбором роли или простовойдите</h2>

<a href="/Main/Login" class="btn btn-primary">Войти</a>

<a href="/Main/Register" class="btn btn-secondary">Зарегистрироваться</a>