@{
    ViewData["Title"] = "Регистрация";
}

<h1>Регистрация</h1>
<h1>Выберите свою роль и введите логин и пароль</h1>

<!-- Форма для выбора роли Админ/Пользователь -->
<form asp-action="Register" method="post">
    <div class="form-group">

    <label asp-for="role">Choose a role:</label>
    <select asp-for="role" id=" role" name="role">
        <option value="Admin">Admin</option>
        <option value="User">User</option>
    </select>
    <br />
    </div>
        <div class="form-group">

    <label asp-for="username">Username:</label>
    <input asp-for="username" type="text" id="username" name="username">
    <br />
    </div>
            <div class="form-group">

    <label asp-for="password">Password:</label>
    <input asp-for="password" type="password" id="password" name="password">
    <br />
    <button type="submit">Зарегистрироваться</button>
    </div>
</form>
